.input {
    padding: 8px 10px;
    font-size: 20px;
    margin: 5px;
    border-radius: 6px;
    background-color: lightblue;
    border: 1px solid black;
    box-sizing: border-box;
    transition: border-width 0.2s linear;
}

.input:focus-within {
    box-sizing: border-box;
    border-width: 3px;
    transition: border-width 0.2s linear;
    outline: none;
}